<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="UpdatePathFolder" value="C:\Users\JamesDeMuse\source\repos\ReleaseTest\Releases\"/>-->
    <add key="UpdatePathFolder" value="https://armorsecuritystorage.blob.core.windows.net/admin-desktop-publish"/>
    <add key="PackageID" value="ReleaseTest"/>
  </appSettings>
</configuration>